In [15]:
import numpy as np
import pandas as pd
df=pd.read_csv('sample_prices.csv')
df['BLUE Returns']=0
df['ORANGE Returns']=0
for i in range(12):
    df.loc[i+1,'BLUE Returns']=(df.loc[i+1,'BLUE']-df.loc[i,'BLUE'])/df.loc[i,'BLUE']*100
for i in range(12):
    df.loc[i+1,'ORANGE Returns']=(df.loc[i+1,'ORANGE']-df.loc[i,'ORANGE'])/df.loc[i,'ORANGE']*100
x1=df['BLUE Returns'].tolist()
y1=np.array(x1)
std_dev_BLUE=np.std(y1)
x2=df['ORANGE Returns'].tolist()
y2=np.array(x2)
std_dev_ORANGE=np.std(y2)
df['BLUE Sharpe']=0
df['ORANGE Sharpe']=0
for i in range(13):
    df.loc[i,'BLUE Sharpe']=(np.average(x1)-3)/std_dev_BLUE
for i in range(13):
    df.loc[i,'ORANGE Sharpe']=(np.average(x2)-3)/std_dev_ORANGE
a1=1
for i in x1:
    a1=a1*(1+(i/100))
annual_return_BLUE=(a1-1)*100
a2=1
for i in x2:
    a2=a2*(1+(i/100))
annual_return_ORANGE=(a2-1)*100
print('Annual returns of Blue stock are: ',annual_return_BLUE,'percent')
print('Annual returns of Orange stock are: ',annual_return_ORANGE,'percent')
## NOTE: I have assumed the risk free rate of return to be 3%.
## NOTE: I have found the Sharpe Ratio for the average monthly return for both blue as well as orange stocks, 
##       however to maintain uniformity, I have printed the single entry 13 times, as a column.

Annual returns of Blue stock are:  12.331034482758675 percent
Annual returns of Orange stock are:  8.71669793621017 percent

In [8]:
df

      BLUE   ORANGE  BLUE Returns  ORANGE Returns  BLUE Sharpe  ORANGE Sharpe
0   8.7000  10.6600      0.000000        0.000000    -0.934864       -0.28346
1   8.9055  11.0828      2.362069        3.966229    -0.934864       -0.28346
2   8.7113  10.7100     -2.180675       -3.363771    -0.934864       -0.28346
3   8.4346  11.5907     -3.176334        8.223156    -0.934864       -0.28346
4   8.7254  12.1070      3.447704        4.454433    -0.934864       -0.28346
5   9.0551  11.7876      3.778623       -2.638143    -0.934864       -0.28346
6   8.9514  11.2078     -1.145211       -4.918728    -0.934864       -0.28346
7   9.2439  12.5192      3.267645       11.700780    -0.934864       -0.28346
8   9.1276  13.3624     -1.258127        6.735255    -0.934864       -0.28346
9   9.3976  14.4080      2.958061        7.824942    -0.934864       -0.28346
10  9.4554  11.9837      0.615051      -16.826069    -0.934864       -0.28346
11  9.5704  12.2718      1.216236        2.404099    -0.934864       -0.28346
12  9.7728  11.5892      2.114854       -5.562346    -0.934864       -0.28346