In [1]:
#Q1
import pandas as pd

In [2]:
df=pd.read_csv('sample_prices.csv')

In [ ]:
df['Blue Returns']=0
for i in range(12):
    df.loc[i+1,"Blue Returns"]=(df.loc[i+1,'BLUE']-df.loc[i,'BLUE'])/df.loc[i,'BLUE']*100
df['Orange Returns']=0
for i in range(12):
    df.loc[i+1,"Orange Returns"]=(df.loc[i+1,'ORANGE']-df.loc[i,'ORANGE'])/df.loc[i,'ORANGE']*100

df

      BLUE   ORANGE  Blue Returns  Orange Returns
0   8.7000  10.6600      0.000000        0.000000
1   8.9055  11.0828      2.362069        3.966229
2   8.7113  10.7100     -2.180675       -3.363771
3   8.4346  11.5907     -3.176334        8.223156
4   8.7254  12.1070      3.447704        4.454433
5   9.0551  11.7876      3.778623       -2.638143
6   8.9514  11.2078     -1.145211       -4.918728
7   9.2439  12.5192      3.267645       11.700780
8   9.1276  13.3624     -1.258127        6.735255
9   9.3976  14.4080      2.958061        7.824942
10  9.4554  11.9837      0.615051      -16.826069
11  9.5704  12.2718      1.216236        2.404099
12  9.7728  11.5892      2.114854       -5.562346

In [82]:
#Q2

std_dev_BLUE=df['Blue Returns'].std()

std_dev_ORANGE=df['Orange Returns'].std()
#Taking risk free rate=3%

Blue_Sharpe=(df['Blue Returns'].mean()-3)/std_dev_BLUE
Orange_Sharpe=(df['Orange Returns'].mean()-3)/std_dev_ORANGE


print('Blue Sharpe =')
print(Blue_Sharpe)
print('Orange Sharpe =')
print(Orange_Sharpe)

Blue Sharpe =
-0.8981882764371377
Orange Sharpe =
-0.2723390795408246

In [86]:
#Q3
a1=1
for i in df['Blue Returns']:
    a1=a1*(1+(i/100))
annual_return_rate_BLUE=(a1-1)*100
a2=1
for i in df['Orange Returns']:
    a2=a2*(1+(i/100))
annual_return_rate_ORANGE=(a2-1)*100
print('Annual returns of Blue stock are',annual_return_rate_BLUE,'percent')
print('Annual returns of Orange stock are',annual_return_rate_ORANGE,'percent')

Annual returns of Blue stock are 12.331034482758675 percent
Annual returns of Orange stock are 8.71669793621017 percent